extends layout

block content
  h2 #{title} 
  p 
    strong Código de seguridad: 
    span #{data.id}
  script.
    console.log(!{JSON.stringify(data)})
  form(method='POST', action='/edit/'+ data.id)
    #form-group
      label Nombre:
      input.form-control(name='nombre', type='text', value=data.nombre)
    #form-group
      label Descripcion:
      textarea.form-control(name='descripcion')= data.descripcion
    #form-group
      label Link imagen:
      input.form-control(name='linkimagen', type='text', value=data.linkimagen)
    #form-group
      label Link url:
      input.form-control(name='linkurl', type='text', value=data.linkurl)
    br
    input.btn.btn-primary(type='submit',value='Guardar')